
<!-- <script src="https://apis.google.com/js/platform.js" async defer></script>

<div id="g_id_onload"
     data-client_id="288814605103-l52s8288c07v1gp53k78obsn8or7r5k8.apps.googleusercontent.com"
     data-auto_select="true"
     data-login_uri="http://localhost:4200/">
</div>

<meta name="google-signin-client_id" content="288814605103-l52s8288c07v1gp53k78obsn8or7r5k8.apps.googleusercontent.com">
<div class="g-signin2" data-onsuccess="onSignIn"></div>

<button id="signin-button" onclick="handleSignInClick()">Sign in</button> -->

<!-- <app-home></app-home> -->
<router-outlet></router-outlet>
